<html>
<style>
	#mycanvas {
		width:2000;
		height:2000;
		z-index: -1;
		border: 1px solid #ccc;
		background-color: #f3f3f3;
	}
</style>
<head>
	<title>Answer Page</title>
</head>
<body>
	<form>
		<h1 align=center>Select Question</h1><br>
		Module Code:<br>
		<input id=code type="text"><br>
		<input type="submit">
	</form>
	<canvas id=mycanvas>
	</canvas>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="wordcloud.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('form').submit(function() {
		event.preventDefault();
		const questionCode = document.getElementById('code').value;
		$.ajax({
			type: 'GET',
			url: 'http://217.182.64.177:8000/allAnswers', //'http://localhost:8000/questin'
			headers: {
				qid: questionCode
			},
			error: function(err) {
				console.log(err);
			},
			success: function(res) {
				console.log(res)
				const answerList = res
				console.log(answerList)
				WordCloud.minfontsize = 30
				WordCloud(document.getElementById('mycanvas'), { list: answerList } );

			}
		})
	})
})
</script>
</html>
